SpringAngular_V1/FetchAPI-Angular/node_modules/
SpringAngular_V1/FetchAPI-Angular/.idea/
SpringAngular_V1/FetchAPI-Angular/.angular/
SpringAngular_V1/FetchAPI-Angular/.vscode/
SpringAngular_V1/FetchAPI-Angular/.editorconfig

SpringAngular_V1/SpringBoot/.idea/
SpringAngular_V1/SpringBoot/.mvn/
SpringAngular_V1/SpringBoot/.mvn/wrapper
SpringAngular_V1/SpringBoot/target/
.idea/